<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <!-- import CSS -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
</head>
<body>
<div id="app">
    <div>
        <el-select v-model="language" placeholder="language" @change="getData(this.language)">
            <el-option v-for="item in languages"
                       :key="item.value"
                       :label="item.label"
                       :value="item.value">
            </el-option>
        </el-select>
        <el-select v-model="since" placeholder="since" @change="getData(this.since)">
            <el-option v-for="item in sinceRange"
                       :key="item.value"
                       :label="item.label"
                       :value="item.value">
            </el-option>
        </el-select>
    </div>
    <div>
        <div v-for="item in resp" class="text item">
            <el-card class="box-card">
                <li style="margin-bottom: 5px">最火项目：{{item.popularRepoName}} &nbsp;&nbsp;&nbsp; 作者：<img :scr="item.avatar" />{{item.author}}</li>
                <li style="margin-bottom: 5px">项目描述：{{item.popularRepoDescription}}</li>
                <li style="margin-bottom: 5px">项目地址：<a :href="item.popularRepoUrl">{{item.popularRepoUrl}}</a></li>
            </el-card>
        </div>
    </div>
</div>
</body>
<!-- import Vue before Element -->
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
    new Vue({
        el: '#app',
        data: function () {
            return {
                resp: '',
                language: 'any',
                since: 'daily',
                languages: [{value: 'any', label: 'Any'}, {value: 'java', label: 'Java'}, {value: 'c', label: 'C'},
                    {value: 'python', label: 'Python'}, {value: 'go', label: 'Go'},
                    {value: 'javaScript', label: 'JavaScript'}],
                sinceRange: [{label: 'daily', value: 'daily'}, {label: 'weekly', value: 'weekly'}, {
                    label: 'monthly',
                    value: 'monthly'
                }]
            }
        },
        methods: {
            getData: function () {
                let baseUrl = 'http://localhost:8088/hot/develops/' + this.language + '?since=' + this.since;
                let _this = this;
                axios.get(baseUrl).then(function (response) {
                    _this.resp = response.data;
                    console.log(response)
                }).then(function (error) {
                    console.log(error)
                })
            }
        },
        created: function () {
            this.language = 'any';
            this.since = 'daily'
        }
    })
</script>
