<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.seckill.mapper.ProductMapper">
    <!--  使用行锁  -->
    <update id="decreaseStock">
        UPDATE product SET num = num - 1,sale = sale + 1 WHERE id = #{id} AND num > 0;
    </update>
    <!--  使用乐观锁进行更新  -->
    <update id="updateByOptimistic">
        update product
        <set>
            num = num - 1,
            sale = sale + 1,
            version = version + 1,
        </set>
        WHERE id = #{id}
        AND version = #{version}
    </update>
</mapper>