<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mall.mapper.ResourceMapper">

    <resultMap id="BaseResultMap" type="com.example.mall.entity.Resource">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="url" property="url" jdbcType="VARCHAR"/>
        <result column="path" property="path" jdbcType="VARCHAR"/>
        <result column="component" property="component" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="icon" property="icon" jdbcType="VARCHAR"/>
        <result column="parent_id" property="parentId" jdbcType="INTEGER"/>
        <result column="enabled" property="enabled" jdbcType="BIT"/>
    </resultMap>

    <resultMap id="resourceWithRole" type="com.example.mall.entity.Resource" extends="BaseResultMap">
        <collection property="roles" ofType="com.example.mall.entity.Role">
            <id column="role_id" property="id"/>
            <result column="code" property="code"/>
            <result column="name" property="name"/>
        </collection>
    </resultMap>

    <select id="getResourceWithRole" resultMap="resourceWithRole">
        SELECT
            a.id,
            a.url,
            a.path,
            a.name,
            a.icon,
            a.parent_id,
            a.enabled,
            c.id AS role_id,
            c.code,
            c.name
        FROM
            resource a
            JOIN role_resource b ON a.id = b.resource_id
            JOIN role c ON c.id = b.role_id
    </select>

    <select id="getResourceByUserId" resultMap="BaseResultMap">
        SELECT
            a.*
        FROM
            resource a
            JOIN role_resource b ON a.id = b.resource_id
            JOIN user_role c ON c.role_id = b.role_id
        WHERE
            c.id = #{userId}
    </select>

</mapper>
