<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mall.mapper.RoleMapper">
    <select id="getUserRolesById" resultType="com.example.mall.entity.Role">
        SELECT
            a.*
        FROM
            role a
            JOIN user_role b ON a.id = b.role_id
        WHERE
            b.user_id = #{userId}
    </select>
</mapper>
